body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #2ecc71, #27ae60);
  text-align: center;
  margin: 0;
  min-height: 100vh;
}

.container {
  margin-top: 50px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

h1 {
  color: #27ae60;
}

input {
  padding: 10px;
  width: 200px;
  border: 1px solid #27ae60;
  border-radius: 5px;
}

button {
  padding: 10px;
  cursor: pointer;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  background-color: #27ae60;
  color: white;
  transition: 0.3s;
}

button:hover {
  background-color: #219150;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: #ecfdf5;
  margin: 5px auto;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

span {
  flex: 1;
  text-align: left;
}

.concluida {
  text-decoration: line-through;
  color: gray;
}